/* ---------------------------------
                google font
-------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
/* -----------------------------------
          google font for button 
---------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* ------------------------------------
                common styles
----------------------------------------- */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.section-title{
  color: orangered;
}

/* --------------------------------
        home container styles
------------------------------------ */
.home-container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  background-color: #2d25a0;
  margin-bottom: 70px;
}
.home-info {
  margin-left: 156px;
}
.page-title {
  font-size: 64px;
  color: #ffffff;
}
.watch-btn {
  padding: 10px 24px;
  font-family: "Poppins", sans-serif;
  background-color: #e02c6d;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.5s linear;
}
.watch-btn:hover {
  color: #e02c6d;
  background-color: #ffffff;
}
.fa-arrow-right {
  margin-left: 8px;
}
.home-image img {
  width: 556px;
  height: 438px;
  margin-left: 102px;
}
/*-------------------------------
                players style
 -------------------------------- */
.players {
  width: 1050px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 27px;
}
.player {
  padding: 15px 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}
.player-image {
  width: 300px;
  height: 256px;
}
.player-name {
  color: #18191f;
  margin-top: 16px;
  margin-bottom: 10px;
  font-size: 28px;
}
.player-info {
  color: #6c6c6c;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 18px;
}
/* ------------------------------------------------------------------
 news container  style start
-------------------------------------------------------------------*/
.container {
  background-color: #e5e5e5;
  margin: 0 auto;
  width: 1050px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 30px;
}

.top-news {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
}
.news-detail {
  margin: 5px 5px;
}
.news-container img {
  width: 100%;
  height: 256px;
}
/*------------------------------------
                   online shop
 -------------------------------------- */
.online-container {
  margin-bottom: 30px;
}
.top-online {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
}
.online-products {
  background-color: #fff;
  padding: 10px 10px;
}
.online-products img {
  width: 100%;
  height: 256px;
}
.buy-btn {
  border: none;
  padding: 5px 10px;
  background-color: orangered;
  border-radius: 10px;
}
/*------------------------------
             footer start 
 --------------------------------*/
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 63px;
}
.footer-container img {
  width: 483.87px;
  height: 110px;
}
.fab {
  width: 32px;
  height: 32px;
  margin-top: 20px;
}
.footer-container p {
  font-size: 18px;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
}
/*-----------------------------------------------------
 media query start
 --------------------------------------------------------*/

/* mobile device */
@media only screen and (max-width: 688px) {
  .home-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 47px;
  }
  .home-info {
    margin-left: 0;
    margin-top: 112px;
    margin-bottom: 30px;
    margin-left: 16px;
  }
  .page-title {
    font-size: 36px;
  }
  .watch-btn {
    margin-left: 19px;
  }
  .home-image img {
    width: 329px;
    height: 259.17px;
    margin-left: 15px;
    margin-top: 50px;
  }
  /* home section end */
  .container{
    margin-top: 0;
  }
  .players {
    grid-row-gap: 0;
    grid-column-gap: 0;
  }
  .player {
    width: 330px;
    height: 474px;
    margin-bottom: 24px;
  }
  .player-image {
    width: 100%;
  }
  /* player end */
  .news-container,
  .online-products {
    width: 330px;
    height: 474px;
    padding: 15px;
    margin-bottom: 24px;
    border-radius: 10px;
    background-color: #ffffff;
  }
  .product-info p {
    margin: 0;
  }
  /* news & online Products end */
  .footer-container img {
    margin-top: 20px;
    width: 150px;
    height: 63px;
  }
  .icon-container{
    margin-top: 29px;
  }
  .footer-container p {
    margin-bottom: 0;
    padding-bottom: 187px;
  }
  .players,
  .top-news,
  .top-online {
    grid-template-columns: repeat(1, 1fr);
  }
}
